version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    hostname: rabbitmq
    networks:
      - runner
    ports:
      - "5672:5672" # Standard AMQP port
      - "15672:15672" # Management UI port (optional, useful for monitoring)
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - ./data:/var/lib/rabbitmq/mnesia

  piston:
    image: ghcr.io/engineer-man/piston
    container_name: piston
    restart: always
    privileged: true
    networks:
      - runner
    ports:
      - 2000
    volumes:
      - {{PACKAGES_DIR}}:/piston/packages
    tmpfs:
      - /tmp:exec
    environment:
      PISTON_COMPILE_TIMEOUT: 60000
      PISTON_RUN_TIMEOUT: 300000
      PISTON_COMPILE_MEMORY_LIMIT: 1073741824
      PISTON_RUN_MEMORY_LIMIT: 1073741824

  feeder:
    image: ingeniums/runner-feeder:latest
    depends_on:
      - rabbitmq
      - piston
    networks:
      - runner
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: guest
      RABBITMQ_PASSWORD: guest
      TASK_QUEUE: execution_tasks
      RESULTS_QUEUE: execution_results
      PISTON_URL: http://piston:2000
      DEFAULT_MEMORY_LIMIT: 128
      DEFAULT_COMPILE_TIMEOUT: 10000
      DEFAULT_RUN_TIMEOUT: 10000
    restart: on-failure

  # Scheduler service
  scheduler:
    image: ingeniums/runner-scheduler:latest
    depends_on:
      - rabbitmq
    networks:
      - runner
      - outside
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: guest
      RABBITMQ_PASSWORD: guest
      TASK_QUEUE: execution_tasks
      RESULTS_QUEUE: execution_results
      EXECUTION_TIMEOUT: 60
      ENCRYPTION_KEY: i5ERtQUdgOJzJ5tDLdTGVEtL8SlOClNHIhgrLRqcL-4=
      SIGNATURE_KEY: sxjp1YcOC-Cj72KVujJ4QRIiV8ELEuWIVWqkiafqX0c=
    ports:
      - "8000:8000"
    restart: on-failure


networks:
  runner:
    internal: true
  outside:
